<div class="page-additional">
    <div class="row">
        <div class="col-md-4">
            <a href="http://ccl.cckorea.org/application/choose/" title="내 콘텐츠에 CCL 적용하기"><img src="/media/banner-bottom-1.png" alt="내 콘텐츠에 CCL 적용하기"></a>
        </div>
        <div class="col-md-4">
            <a href="http://ccl.cckorea.org/reuse/find/" title="CC 라이선스가 적용된 콘텐츠 찾기"><img src="/media/banner-bottom-2.png" alt="CC 라이선스가 적용된 콘텐츠 찾기"></a>
        </div>
        <div class="col-md-4">
            <a href="http://ccl.cckorea.org/faq/" title="자주 묻는 질문"><img src="/media/banner-bottom-3.png" alt="자주 묻는 질문"></a>
        </div>
    </div>
</div>
