
<div id="ccl-helper" class="container-fluid">
    <div class="keywords row">
        <div class="col-md-6 col-lg-3 first" data-keyword="by">
        	<div class="l-box box-cc-by on">
    	    	<h2>저작자 표시</h2>
    	    	<p>저작자 표시를 한다면, 다른 사람이 별도의 허락없이 내 창작물을 복사하거나 배포해도 괜찮습니다.</p>
                <span class="guide">&nbsp;</span>
    	    </div>
        </div>
        <div class="col-md-6 col-lg-3 first" data-keyword="nd">
        	<div class="l-box box-cc-nd">
    	    	<h2>변경 가능</h2>
    	    	<p>다른 사람이 내 창작물을 변경하거나 다른 창작물에 적용하는 등 재창작을 해도 괜찮습니다.</p>
                <span class="guide">&nbsp;</span>
    	    </div>
        </div>
        <div class="col-md-6 col-lg-3 first" data-keyword="sa">
        	<div class="l-box box-cc-sa">
    	    	<h2>동일 라이선스 적용</h2>
    	    	<p>다른 사람이 내 창작물로 재창작을 한 경우, 재창작한 창작물에 내가 적용한 라이선스와 동일한 라이선스를 적용해야 합니다.</p>
                <span class="guide">&nbsp;</span>
    	    </div>
        </div>
        <div class="col-md-6 col-lg-3 first" data-keyword="nc">
        	<div class="l-box box-cc-nc">
    	    	<h2>상업적 이용 가능</h2>
    	    	<p>내 창작물을 상업적 용도의 창작물에 사용해도 괜찮습니다.</p>
                <span class="guide">&nbsp;</span>
    	    </div>
        </div>
    </div>
    <div class="row">
        <div class="contents col-md-12">
            <div class="header clearfix">
                <div class="keyword">저작자표시-비영리-변경금지</div>
                <div class="amount">이용자유도 <img class="amount-image" src="/images/licenses/1.png" alt="1" /></div>
            </div>
            <div class="content-description text-center">
                <img class="license-image" src="/images/licenses/by-nc-nd.png" alt="by-nc-nd" />
                <h2 class="license-type">저작자표시-비영리-변경금지</h2>
                <p class="license-title">라이선스가 적합합니다.</p>
                <p class="license-description">저작자를 표시하고, 비용리 목적으로만 사용하고, 변경하지 않으면 자유롭게 쓸 수 있습니다.</p>
            </div>
            <div class="footer">
                <ul class="clearfix">
                    <li><a target="_blank" class="deed" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ko">이용증서 <img src="/images/download.png" style="display: inline"></a></li>
                    <li><a target="_blank" class="legal-code" href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">이용허락 규약 <img src="/images/download.png" style="display: inline"></a></li>
                    <li><a target="_blank" class="license-icon" href="http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png">라이선스 아이콘 다운로드 <img src="/images/download.png" style="display: inline"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 recommandation open-text">잠시만! 다른 사람들이 이용할 수 있는 범위가 작아요. 창작물에 좀 더 자유를 주는 건 어떨까요?</div>
    </div>
</div>

<script src="/js/licenses.js"></script>

