	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ 'images/favicon/apple-touch-icon-57x57.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ 'images/favicon/apple-touch-icon-60x60.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ 'images/favicon/apple-touch-icon-72x72.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ 'images/favicon/apple-touch-icon-76x76.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ 'images/favicon/apple-touch-icon-114x114.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ 'images/favicon/apple-touch-icon-120x120.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ 'images/favicon/apple-touch-icon-144x144.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ 'images/favicon/apple-touch-icon-152x152.png' | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'images/favicon/apple-touch-icon-180x180.png' | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" href="{{ 'images/favicon/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ 'images/favicon/favicon-194x194.png' | prepend: site.baseurl }}" sizes="194x194">
	<link rel="icon" type="image/png" href="{{ 'images/favicon/favicon-96x96.png' | prepend: site.baseurl }}" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ 'images/favicon/android-chrome-192x192.png' | prepend: site.baseurl }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ 'images/favicon/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16">
	<link rel="manifest" href="{{ 'images/favicon/manifest.json' | prepend: site.baseurl }}">
	<link rel="mask-icon" href="{{ 'images/favicon/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#000000">
	<link rel="shortcut icon" href="{{ 'images/favicon/favicon.ico' | prepend: site.baseurl }}">
	<meta name="apple-mobile-web-app-title" content="CCL">
	<meta name="application-name" content="CCL">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ 'images/favicon/mstile-144x144.png' | prepend: site.baseurl }}">
	<meta name="msapplication-config" content="{{ 'images/favicon/browserconfig.xml' | prepend: site.baseurl }}">
	<meta name="theme-color" content="#ffffff">