<a class="skip-link sr-only" href="#content">Skip to content</a>

<header id="masthead" class="site-header" role="banner">
  <div class="container">

    <div class="navbar-header">
      <a id="brand" class="site-title" href="/" rel="home" title="creative commons license">
        <img class="svg hidden-xs" src="/images/brand.png">
        <img class="img-responsive visible-xs" src="/images/m-brand.png">
      </a>

      <button type="button" class="navbar-toggle">
        <span class="sr-only">메뉴 열기</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button type="button" class="search-toggle">
        <span class="sr-only">검색 열기</span>
      </button>

      <form role="search" method="get" class="search-form">
        <label>
          <span class="screen-reader-text">search</span>
          <input id="search" type="search" class="search-field" placeholder="search" value="" title="Search for" />
        </label>
        <input type="submit" class="search-submit" value="Search" />
      </form>
    </div><!-- .navbar-header -->

    <nav id="gnb" class="site-navigation" role="navigation">
      <div class="navbar-controller">
        <!-- <button type="button" class="navbar-close"><span class="sr-only">메뉴 닫기</span></button> -->
        <a href="{{ site.baseurl }}/" title="홈으로">Home</a>
      </div><!-- .navbar-controller -->

      <ul class="navbar-nav">
        {% for first in site.data.nav %}
        <li{% if page.url == first.url | prepend: site.baseurl %} class="active"{% endif %}>
            <a class="title" href="{{ first.url}}">{{ first.title }}</a>
            {% if first.items | size > 1 %}
                <ul class="sub-menu">
                {% for second in first.items %}
                    <li{% if page.url == second.url | prepend: site.baseurl %} class="active"{% endif %}>
                        <a href="{{ second.url}}">{{ second.title }}</a>
                        {% if second.items | size > 1 %}
                            <ul>
                                {% for third in second.items %}
                                <li{% if page.url == third.url | prepend: site.baseurl %} class="active"{% endif %}>
                                    <a href="{{ third.url}}">{{ third.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif%}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

        </li>
        {% endfor %}
    </ul><!-- .site-navigation -->

      <footer class="site-info" role="contentinfo">
        <a target="_blank" href="http://cckorea.org"><img class="site-brand" src="/images/brand-footer.png"></a>
        <p>
          CCKOREA에 의해 작성된 Creative Commons License 웹사이트는 <a target="_blank" href="http://creativecommons.org/licenses/by/2.0/kr/">크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스</a>에 따라 이용할 수 있습니다.
        </p>
        <a target="_blank" href="http://creativecommons.org/licenses/by/2.0/kr/"><img class="ccl" src="/images/ico-cc.png"></a>
      </footer><!-- .site-info -->
    </nav><!-- .site-navigation -->

  </div><!-- .container -->
</header><!-- .site-header -->
