<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}">
{% if site.locale_alt %}
<meta property="og:locale:alternate" content="{{ site.locale_alt }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.description %}<meta property="og:description" content="{{ page.description | strip_html | strip_newlines }}">{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.image %}
<meta property="og:image" content="{{ page.image | prepend: site.url }}" />
{% else %}
<meta property="og:image" content="{{ site.default_image | prepend: site.url }}" />
{% endif %}