    <div class="page-additional{% if page.quiz_show == false and page.related_contents_show == false %} hide{% endif %}">
        {% if page.quiz_show %}
        <div class="oxquiz">
            <h1>OX 퀴즈</h1>
            <ul class="list-oxquiz">
                {% for quiz in page.quiz %}
                <li class="{% cycle 'odd', 'even' %}">
                    <h2 class="q">
                        <span class="num">{{ forloop.index }}.</span>
                        {{ quiz.title | newline_to_br }}
                    </h2>
                    <div class="a-img"><img src="/images/view/ox-ico-{{ quiz.answer }}.png" srcset="/images/view/ox-ico-{{ quiz.answer }}@2x.png 2x"></div>
                    <div class="a">
                        {{ quiz.description | newline_to_br }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if page.related_contents_show and page.related_contents.size > 1 %}
        <div class="related">
            <h1>관련 콘텐츠</h1>
            <ul class="list-related">
            {{ page.related_contents | markdownify }}
            </ul>
        </div>
        {% endif %}
    </div>
