---
layout: default
---
<div class="post">

	<header class="page-header">
		<h1 class="page-title">{{ page.title }}</h1>
		{% include breadcrumb.html %}
	</header>

	<div class="page-content">
		<div class="entry-content">
    		{{ content }}
    	</div>
	</div>

	{% if page.quiz_display %}
	<div class="page-additional">
		<div class="oxquiz">
			<h1>OX 퀴즈</h1>
			<ul class="list-oxquiz">
				<li class="odd">
					<h2 class="q">
						<span class="num">1.</span>
						{{ page.quiz_o_title | newline_to_br }}
					</h2>
					<div class="a-img"><img src="/images/view/ox-ico-right.png" srcset="/images/view/ox-ico-right@2x.png 2x"></div>
					<div class="a">
						{{ page.quiz_o_desc | newline_to_br }}
					</div>
				</li>

				<li class="even">
					<h2 class="q">
						<span class="num">2.</span>
						{{ page.quiz_x_title | newline_to_br }}
					</h2>
					<div class="a-img"><img src="/images/view/ox-ico-wrong.png" srcset="/images/view/ox-ico-wrong@2x.png 2x"></div>
					<div class="a">
						{{ page.quiz_x_desc | newline_to_br}}
					</div>
				</li>

			</ul>
		</div>
		{% if page.related_contents.size > 1 %}
		<div class="related">
			<h1>관련 컨텐츠</h1>
			<ul class="list-related">
			{% for content in page.related_contents %}
				{% assign link = content | split: '|' %}
				<li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	{% endif %}

</div>
