---
layout: default
---

{% assign groups = site.showcases | group_by:'category' %}
{% for group in groups %}
    {% if group['name'] == page.category %}
        {% assign showcases = group.items | map: 'to_liquid' %}
    {% endif %}
{% endfor %}

{% assign last_page_number = showcases | size | divided_by: site.paging_list_showcases %}
{% if showcases | size | modulo: site.paging_list_showcases > 0 %}
    {% assign last_page_number = last_page_number | plus: 1 %}
{% endif %}

{% assign categories = site.data.showcases-categories %}

    <header class="page-header">
        <h1 class="page-title">적용 사례</h1>
        {% include breadcrumb.html %}
    </header><!-- .page-header -->
    <div class="page-content">

        <ul class="tabs hidden-xs">
            <li><a href="/about/showcases/">전체</a></li>
            {% for hash in site.data.showcases-categories %}
                {% for category in hash %}
                    <li{% if category[1] == page.category %} class="on"{% endif %}><a href="/about/showcases/{{ category[1] }}/">{{ category[0] }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>

        <div class="selectbox visible-xs">
            <div class="label">전체</div>
            <select class="js-select">
                <option value="/about/showcases/">전체</option><!-- value : url -->
                {% for hash in site.data.showcases-categories %}
                {% for category in hash %}
                <option value="{{ category[1] }}">{{ category[0] }}</option>
                {% endfor %}
            {% endfor %}
            </select>
        </div>

        <ul class="archive-list">

            {% for showcase in showcases limit:site.paging_list_showcases %}

            {% if showcase.category == page.category %}

                {% for hashes in categories %}
                    {% for hash in hashes %}
                        {% if hash[1] == showcase.category %}
                            {% assign category_label = hash[0] %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <li>
                <div class="post-meta">
                {% if showcase.category %}
                    <a class="taxo" href="/about/showcase/{{ showcase.category }}">{{ category_label }}</a>
                {% endif %}
                {% if showcase.region %}, {{ showcase.region }}{% endif %}
                </div>
                <h2 class="post-title">
                    <a href="{{ showcase.url }}" title="{{ showcase.title | strip_html | strip_newlines }} 자세히 보기">{{ showcase.title }}</a>
                </h2>
                <div class="post-thumbnail">
                    <a href="{{ showcase.url }}" title="{{ showcase.title }} 자세히 보기">
                        <img src="{{ showcase.image }}" alt="">
                    </a>
                </div>
                <a href="{{ showcase.url }}" title="{{ showcase.title | strip_html | strip_newlines }}">
                    <div class="post-excerpt">
                        {{ showcase.content | strip_html | strip_newlines | truncate: 300 }}
                    </div>
                </a>
                <div class="post-source">
                    {% if showcase.link %}<a target="_blank" href="{{ showcase.link }}">{% endif %}{{ showcase.creator }}{% if showcase.link %}</a>{% endif %}
                </div>
            </li>

            {% endif %}

            {% endfor %}

            {% if showcases.size > 0 and last_page_number != page_number %}
            <li><a href="/paging/showcases/{{ page.category }}/2/" class="jscroll-next">2</a></li>
            {% endif %}

        </ul>
    </div>

{% if showcases.size > 0 %}
<script src="//cdn.jsdelivr.net/jquery.jscroll/2.2.4/jquery.jscroll.min.js"></script>
<script>
    function neueFade() {
        $(this).hide().fadeIn(2000);
    };
    $('.page-content').jscroll({
        loadingHtml: '<div class="text-center"><p><img src="/images/loader.gif" alt="" style="width: 40px;"></p></div>',
        padding: 0,
        nextSelector: 'a.jscroll-next:last',
        contentSelector: 'ul.archive-list',
        autoTrigger: true,
        callback: neueFade
    });
</script>
{% endif %}
